html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

header{
    font-size: 20px;
    z-index: 99;
    background-color: #3C162F;
}

.tamaño_logo{
    width: 60%;
}

.card-img-top{
    width: 50%;
}

.card-c{
    height: 480px;
    background-color: #FFFFFF;
}

.card-p{
    height: 60vh;
    background-color: #191528;
    color: #FFFFFF;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #FFD166;
}

.bg-1{
    background-color: #3C162F;
    color: #FFFFFF;
}

.precio{
    color: #FFD166;
    font-size: larger;
    font-weight: bold;
}

.bg-confirmacion{
    background-color: #191528;
}

.confirmacion{
    width: 20%;
}

.style-form{
    color: #FFD166;
}

.filter{
    display: none;
}
