html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*:after,
*:before{
    box-sizing: inherit;
}

a{
    color: #FFFFFF;
    transition: color 0.4s ease;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: #FFD166;
}

article h1{
    color: #191528;
    font-size: 20px;
}

article h2{
    color: #3C162F;
    font-size: 25px;
}

article h3{
    color: #191528;
    font-size: 20px;
}

body{
    margin: 0;
    overflow-x: hidden;
    background-color: #191528;
}

.botonDescarga{
    color: #FFD166;
    background-color: #3C162F;
    font-size: 20px;
    border: 1px solid #FFD166;
    transition: color 0.3s ease;
    font-weight: bold;
    padding: 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.botonDescarga:hover{
    font-size: 22px;
}

#btnDescarga{
    background-color: #FFD166;
    color: #191528;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid #191528;
    transition: color 0.3s ease;
}

#btnDescarga:hover{
    background-color: #3C162F;
    color: #FFD166;
    font-size: 1.3rem;
}

#carritoDescarga  h4 {
    color: #FFD166;
}

.enviar{
    color: #3C162F;
    font-weight: bolder;
}

#footer{
    background-color: #3C162F;
    display: flex;
    justify-content: center;

}

.form{
    width: 30%;
    color: #FFD166;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.form-search{
    margin: auto;
    text-align: center;
}

.form-search input{
    display: block;
    margin: auto;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1rem;
}

.grid-fluid{
    margin: 1rem auto;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

header{
    padding: 0.5rem;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: #3C162F;
}

header > *{
    margin: 1rem auto;
}

header h1{
    color: #FFD166;
}

input{
    background-color: #FFD166;
    margin: 0.5rem 0;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: auto 10%;
}

.post-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: #FFD166;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea{
    background-color: #FFD166;
}